.magewire-component-loader {
    position: absolute;
    z-index: 10;
    inset: 0;
    display: grid;
    place-items: center;
    pointer-events: none;
}

.magewire-component-loader-spinner {
    display: block;
    inline-size: 2.5rem;
    block-size: 2.5rem;
    color: var(--color-primary, #2563eb);
}
