.magewire-notifier {
    & .magewire-notifier-item.message[data-type] {
        border: 0;
        border-radius: var(--magewire-hyva-notifier-radius);
        background-color: var(--magewire-hyva-notifier-surface);
        color: var(--magewire-hyva-notifier-color);
        font-size: inherit;
        font-weight: 600;
        line-height: inherit;
        box-shadow: var(--magewire-hyva-notifier-shadow);

        & :is(.magewire-notifier-title, .magewire-notifier-message) {
            color: inherit;
        }

        & .magewire-notifier-occurrences {
            border: 0;
            background-color: var(--magewire-hyva-notifier-occurrences-surface);
            color: var(--magewire-hyva-notifier-color);
            box-shadow: var(--magewire-hyva-notifier-occurrences-shadow);
        }

        & .magewire-notifier-close {
            color: var(--magewire-hyva-notifier-close-color);

            &:hover {
                color: var(--magewire-hyva-notifier-close-hover-color);
            }
        }

        &[data-type="success"] {
            border: 2px solid var(--magewire-hyva-notifier-success-border);
            background-color: var(--magewire-hyva-notifier-success-surface);

            & .magewire-notifier-occurrences {
                background-color: var(--magewire-hyva-notifier-success-surface);
            }
        }

        &:is([data-type="info"], [data-type="notice"]) {
            border: 2px solid var(--magewire-hyva-notifier-info-border);
            background-color: var(--magewire-hyva-notifier-info-surface);

            & .magewire-notifier-occurrences {
                background-color: var(--magewire-hyva-notifier-info-surface);
            }
        }

        &[data-type="warning"] {
            border: 2px solid var(--magewire-hyva-notifier-warning-border);
            background-color: var(--magewire-hyva-notifier-warning-surface);

            & .magewire-notifier-occurrences {
                background-color: var(--magewire-hyva-notifier-warning-surface);
            }
        }

        &[data-type="error"] {
            border: 2px solid var(--magewire-hyva-notifier-error-border);
            background-color: var(--magewire-hyva-notifier-error-surface);

            & .magewire-notifier-occurrences {
                background-color: var(--magewire-hyva-notifier-error-surface);
            }
        }
    }
}
